<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         verbose="true"
         executionOrder="random"
         bootstrap="./vendor/autoload.php">
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="assert.exception" value="1" />
    </php>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>src/test</directory>
        </testsuite>
    </testsuites>
    <coverage ignoreDeprecatedCodeUnits="true">
        <include>
            <directory>src/main</directory>
        </include>
    </coverage>
</phpunit>
